language: python
python:
- "3.8-dev"
install:
  - pip install requests
  - pip install -r requirements.txt
script:
  - python3 app.py
after_success:
  - coverage xml
  - curl https://deepsource.io/cli | sh
  - ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
