<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<ul>
    <li><a class="active" href="{{url_for('home')}}">Home</a></li>
    <li><a href="{{url_for('demo')}}">Demo</a></li>
    <li><a href="{{url_for('signal')}}">Signal Map</a></li>
    <li><a href="{{url_for('maps')}}">Location Map</a></li>
  </ul>
  {% block content%}
  {% endblock content%}
  </body>
  </html>