<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Google+Sans:+400,500,700|Product+Sans:400|Roboto+Mono:500" media="all" rel="stylesheet">
</head>

<body>
  <div class="ui secondary pointing menu ">
      
      <div class="right menu">
        <a class="item">
          Home
        </a>
        <a class="item"  href="{{url_for('demo')}}">
          Demo
        </a>
        <a class="item" href="{{url_for('signal')}}">
          Signal Maps
        </a>
        <a href="{{url_for('maps')}}" class="ui item">
          Signal Maps
        </a>
      </div>
  </div>
  <!-- <ul>
      <li><a class="active" href="{{url_for('home')}}">Home</a></li>
      <li><a href="{{url_for('demo')}}">Demo</a></li>
      <li><a href="{{url_for('signal')}}">Signal Map</a></li>
      <li><a href="{{url_for('maps')}}">About</a></li>
    </ul> -->
  {% block content%} {% endblock content%}

  
</body>

</html>
