<html>
    <head></head>
    <body>
                <div style="font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif; !important;padding-left:60px;">

        <h1 style="text-align:center;">
            How it works?
        </h1>
        <h2>
            Logistic Regression
        </h2>
        <img src="{{url_for('static',filename='shot.png')}}">
        <h2 style='font-size:15px'>Logistic Regression also know as the sigmoid function is used commonly. Don't be fooled by the name this is not regression but classification. From keras deep learning to many machine learning tasks. The formula being depicted here multiples the X(input) by the corressponding coefficents and is raised to the negative exponent of 1.</h2>
        <br>
        <h2>
            Why is it only between 0 and 1?
        </h2>
        <h2 style="font-size:15px;">
            Continous output will be an impossible achievement because of the lack of data. Using a bound of 50 to decide between 0 and 1.(Whether the day is good or bad)
        </h2>
        <h2>
            Why not use a deep learning model?
        </h2>
        <h2 style="font-size:15px;">
            Machine learning models can be milisecond predictions unlike deep learning models. Deep learning models need a lot of data as they are very complex.
        </h2>
        <h2>
            Evaluation
        </h2>
        <h2 style='padding-left:50px'>
            Confusion Matrix
        </h2>
    
        <img src="{{url_for('static',filename='confusionmatrix.png')}}">
        <h2 style='padding-left:50px'>
            Accuracy
        </h2>
        <h2 style='padding-left:80px;font-size:15px;'>
            With this Logistic Regression model we got a 98% on our accuracy.
        </h2>
        <h2>Correlation Matrix</h2>
        <img src="{{url_for('static',filename='corr.png')}}">
        <h2>
            Countplot
        </h2>
        <img src="{{url_for('static',filename='signal.png')}}">
    
        <h2>
            Data Types
        </h2>
        <img src="{{url_for('static',filename='cool.png')}}" height="100" style="padding-left:50px;">
        <h2>
            Format
        </h2>
        <h3 style='padding-left:50px;font-weight:normal !important;'>JSON FILE<br><br>304 kb <br><br>Orientation Split</h3>

        </div>
        
    </body>
    
</html>